<!-- Tabular view of employee records -->

<div class="container">
  <div class="row">

    <div class="col-sm bg-light" style="margin-right: 4px;">
      <h2>Employee 1</h2>
      <br />
      <ul>
        <li>
          <h4>Name</h4>

        </li>

        <li>
          <h4>Employee Id</h4>

        </li>

        <li>
          <h4>Phone number</h4>

        </li>

        <li>
          <h4>Address</h4>

        </li>
      </ul>
    </div>

    <div class="col-sm bg-light" style="margin-right: 4px;">
      <h2>Employee 2</h2>
      <br />
      <ul>
        <li>
          <h4>Name</h4>

        </li>

        <li>
          <h4>Employee Id</h4>

        </li>

        <li>
          <h4>Phone number</h4>

        </li>

        <li>
          <h4>Address</h4>

        </li>
      </ul>
    </div>

    <div class="col-sm bg-light" style="margin-right: 4px;">
      <h2>Employee 3</h2>
      <br />
      <ul>
        <li>
          <h4>Name</h4>

        </li>

        <li>
          <h4>Employee Id</h4>

        </li>

        <li>
          <h4>Phone number</h4>

        </li>

        <li>
          <h4>Address</h4>

        </li>
      </ul>
    </div>

    <div class="col-sm bg-light">
      <h2>Employee 4</h2>
      <br />
      <ul>
        <li>
          <h4>Name</h4>

        </li>

        <li>
          <h4>Employee Id</h4>

        </li>

        <li>
          <h4>Phone number</h4>

        </li>

        <li>
          <h4>Address</h4>

        </li>
      </ul>
    </div>

  </div>
</div>

</body>
</html>
